  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <h2>Sign in</h2>
      <span flex></span>
      <a ui-sref="login.signup">Create a new account</a>
    </div>
  </md-toolbar>

<div class="row">
  <form class="col s12" name="form" method="post" novalidate>
    <div class="row">
    </div>
    
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name="email" ng-model="$ctrl.user.email" required>
        <label for="email">Email</label>
      </div>
      <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password" type="password" ng-model="$ctrl.user.password" required>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" type="button" ng-click="$ctrl.signin()">Submit
    <i class="material-icons right">send</i>
  </button>
    </div>
  </form>
</div>