<ul class="collapsible collection" data-collapsible="accordion">
  <li class="collection-item avatar" ng-repeat="playList in $ctrl.playLists track by playList.id">
    <div class="collapsible-header">
      <i class="material-icons circle red">play_arrow</i><span class="title">{{playList.name}}</span>
    <p>Style : {{playlist.style}}</p>
    </div>
    <div class="collapsible-body">
    <ul ng-repeat="song in playList.songs">
      <li ng-click="$ctrl.playSong(song.url)">{{song.title}}</li>
    </ul>
  </div>
    <!--body-->
  </li>
</ul>