
<!--<div class="row">
    <div class="col m3">
        <div class="card panel hoverable" ng-repeat="playlist in $ctrl.playlists" ng-repeat="song in playlist.songs">
            {{playlist.id}}
            <span class="card-title">{{playlist.name}}</span>
            <div class="chip">
                <img ng-src="{{playlist.submitter.avatar}}" alt="Contact Person"> Jane Doe
<div class="all-cards">
    <div class="row">
        <div class="col s12 card">
            <span class="card-title titles">Browse by playlists</span>
            <div class="row">
                <div class="col m3 card panel hoverable" ng-repeat="playlist in $ctrl.playlists">
                    <span class="card-title">{{playlist.name}}</span>
                    <div class="chip" on-click="goToProfile()">
                        <i class="material-icons">perm_identity</i> {{playlist.user.username}}
                    </div>
                    <div class="chip"> {{playlist.songs.length}} songs</div>
                    <a class="btn-floating halfway-fab waves-effect circle red"><i class="material-icons">play_arrow</i></a>
                    <div class="tags"> {{song.tags}}</div>
                    <div class="card-content" ng-repeat="song in playlist.songs">
                        {{song.title}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 card">
            <span class="card-title titles">Browse by genres</span>
            <div class="row">
                <div class="col m3 card panel hoverable" ng-repeat="tag in $ctrl.tags">
                    <span class="card-title">{{tag.name}}</span>
                    <div class="chip"> {{tag.songs.length}}</div>
                    <a class="btn-floating halfway-fab waves-effect circle red"><i class="material-icons">play_arrow</i></a>
                    <div class="card-content" ng-repeat="song in tag.songs track by $index">
                        <ul>
                            <li>{{song.title}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->