<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s9">
        <input placeholder="Search" id="search_field" type="text" class="validate" ng-model="query">
        <label for="first_name">Search</label>
      </div>
      <button class="btn waves-effect waves-light col s3" ng-click='$ctrl.searchYoutube(query)' name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    </div>
  </form>
</div>

<div class="row" ng-if="$ctrl.results.length > 0">
  <div class="col s12 m4" ng-repeat="result in $ctrl.results">
    <div class="card">
      <div class="card-image">
        <img src="{{::result.snippet.thumbnails.default.url}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{::result.snippet.title}}<i class="material-icons right">more_vert</i></span>
        <p><a href="https://www.youtube.com/watch?v={{::result.id.videoId}}" targer="_blank">VideoLink</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{::result.snippet.title}}<i class="material-icons right">close</i></span>
        <p>{{::result.snippet.description}}</p>
      </div>
    </div>
  </div>
</div>