<ul id="slide-out" class="side-nav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="./app/images/back.jpg">
      </div>
      <img class="circle" ng-src="{{$ctrl.currentUser.avatar}}">
      <span class="white-text name">{{$ctrl.currentUser.fullName}}</span>
    </div>
  </li>

  <user-play-list play-lists="$ctrl.currentUser.playLists"></user-play-list>

  <!--<div class="video-container">
    <iframe width="853" height="480" ng-src="{{$ctrl.songUrl}}" frameborder="0" allowfullscreen></iframe>
  </div>-->

  <div class="video-container">
    <youtube-video video-url="$ctrl.songUrl"></youtube-video>

    <!--<ng-youtube-embed class="videoPlayerResponsive" 
    video="$ctrl.songUrl" 
    playlist="$ctrl.urlList"
    autoplay="true" 
    color="white" 
    disablekb="true"
    modestbranding="true">
    </ng-youtube-embed>-->
  </div>

</ul>

<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>