<ul id="slide-out" class="side-nav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="./app/images/back.jpg">
      </div>
      <img class="circle" ng-src="{{$ctrl.currentUser.avatar}}">
      <span class="white-text name">{{$ctrl.currentUser.fullName}}</span>
    </div>
  </li>

  <user-play-list play-lists="$ctrl.currentUser.playLists"></user-play-list>

  <div class="video-container">
    <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>

</ul>

<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>